manager:
  - ${manager_ip}

monitor:
  - ${manager_ip}

gc:
  - ${manager_ip}

tserver:
%{ for ip in worker_ips ~}
  - ${ip}
%{ endfor ~}

sserver:
  - default
%{ for ip in worker_ips ~}
      - ${ip}
%{ endfor ~}

compaction:
  coordinator:
    - ${manager_ip}
  compactor:
    - q1:
%{ for ip in worker_ips ~}
        - ${ip}
%{ endfor ~}
    - q2:
%{ for ip in worker_ips ~}
        - ${ip}
%{ endfor ~}

#
# The following are used by the accumulo-cluster script to determine how many servers
# to start on each host. If the following variables are not set, then they default to 1.
# If the environment variable NUM_TSERVERS is set when running accumulo_cluster
# then its value will override what is set in this file for tservers_per_host. Likewise if
# NUM_SSERVERS is set then it will override sservers_per_host.
#
tservers_per_host: 1
sservers_per_host: 1

