# .bashrc
if [ -f /etc/bashrc ]; then
  source /etc/bashrc
fi
export JAVA_HOME=${java_home}
export ZOOKEEPER_HOME=${software_root}/zookeeper/apache-zookeeper-${zookeeper_version}-bin
export HADOOP_HOME=${software_root}/hadoop/hadoop-${hadoop_version}
export ACCUMULO_HOME=${software_root}/accumulo/accumulo-${accumulo_version}
export ACCUMULO_LOG_DIR=${accumulo_dir}/logs
export M2_HOME=${software_root}/apache-maven/apache-maven-${maven_version}

export ACCUMULO_JAVA_OPTS="-javaagent:${software_root}/accumulo/accumulo-${accumulo_version}/lib/opentelemetry-javaagent-1.19.0.jar -Dotel.traces.exporter=jaeger -Dotel.metrics.exporter=none -Dotel.logs.exporter=none -Dotel.exporter.jaeger.endpoint=http://${manager_ip}:14250 -Dtest.meter.registry.host=${manager_ip} -Dtest.meter.registry.port=8125"

# User specific environment and startup programs
PATH=$PATH:$HOME/.local/bin:$HOME/bin:$ZOOKEEPER_HOME/bin:$HADOOP_HOME/bin:$HADOOP_HOME/sbin:$ACCUMULO_HOME/bin:$M2_HOME/bin
export PATH
ulimit -n 32768
