#! /usr/bin/env bash
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

set -eo pipefail

if [ $# -ne 2 ]; then
  echo "usage: $0 instance_name root_password" >&2
  exit 1
fi

#
# Start Telegraf on all nodes
#
sudo cp ${software_root}/conf/telegraf.conf /etc/telegraf/telegraf.conf
sudo systemctl enable telegraf
sudo systemctl start telegraf

pdcp -g worker ${software_root}/conf/telegraf.conf /tmp/.
pdsh -S -g worker sudo mv /tmp/telegraf.conf /etc/telegraf/telegraf.conf
pdsh -S -g worker sudo systemctl enable telegraf
pdsh -S -g worker sudo systemctl start telegraf

#
# Initialize Accumulo with the supplied instance name and root user password
#
accumulo init --instance-name "$1" --password "$2"
accumulo init --add-resource-groups accumulo_meta,user_small,user_large

#
# Launch jaegertracing and Timely-Grafana containers
#
docker run -d --name jaeger \
    --restart always \
    -e COLLECTOR_OTLP_ENABLED=true \
    -p 16686:16686 \
    -p 4317:4317 \
    -p 4318:4318 \
    jaegertracing/jaeger:2.14.1

#
# Start the Accumulo cluster
# accumulo-cluster start doesn't return a proper error code, so make it true here so the script doesn't fail.
#
accumulo-cluster start || true

#
# Start Timely
#
docker run -d \
    --restart always \
    -p 3000:3000/tcp \
    -p 4242:4242/tcp \
    -p 4243:4243/tcp \
    -p 4244:4244/tcp \
    -p 4245:4245/udp \
    -v ${software_root}/conf/grafana.ini:/etc/grafana/grafana.ini:ro \
    -v ${software_root}/grafana/dashboards:/etc/grafana/provisioning/dashboards \
    -v ${software_root}/conf/timely.yaml:/etc/grafana/provisioning/datasources/timely.yaml \
    -v ${software_root}/conf/timely-server-env.sh:/opt/timely/bin/timely-server-env.sh:ro \
    --name="timely-grafana-stack" timely-grafana

