[Unit]
Description=Yarn NodeManager start/stop
After=hadoop-datanode.service

[Service]
Environment=JAVA_HOME=${java_home}
Environment=YARN_HOME=${software_root}/hadoop/hadoop-${hadoop_version}
Environment=HADOOP_LOG_DIR=${hadoop_dir}/logs
User=hadoop
Group=hadoop
Type=oneshot
ExecStart=${software_root}/hadoop/hadoop-${hadoop_version}/bin/yarn --daemon start nodemanager
ExecStop=${software_root}/hadoop/hadoop-${hadoop_version}/bin/yarn --daemon stop nodemanager
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

